@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-[Playfair-Display];
  }
  li {
    @apply font-[Lato];
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8) hsla(242, 74%, 61%, 0.8)
  );
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
*::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
