@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-[Playfair-Display];
  }
  li {
    @apply font-[Lato];
    @apply px-4;
    @apply cursor-pointer;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root,
body,
html,
#root {
  background: #0a192f;
  height: 100dvh;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

/* .content-div:hover {
  background-image: linear-gradient(to right, #0a192f, #0a192f) !important;
} */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
*::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a.color-active.active {
  color: #858c97;
  font-weight: bold;
}

a.color-active-dark.active {
  color: rgb(107 114 128);
  font-weight: bold;
}

body *:not(.home) {
  @apply duration-150;
}

/* *:not(.background) {
  transition-duration: 100ms;
} */

.custom-type-animation-cursor::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}
@keyframes cursor {
  50% {
    opacity: 0.01;
  }
}

.custom-height {
  height: calc(100dvh - (7rem + 5rem));
}
/* .container-height {
  max-height: 109vh;
} */

.custom-height-skills {
  height: calc(140dvh - (7rem + 5rem));
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 7rem;
  z-index: 4;
}

.copy {
  letter-spacing: 0.09rem;
}
.social-links {
  display: flex;
}

@media (max-width: 534px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
    justify-content: space-evenly;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }

  .space {
    padding-left: 0;
    padding-right: 0;
  }

  .custom-height {
    height: 72dvh;
  }
}

@media (max-width: 768px) {
  .space {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 760px) {
  .custom-height-skills {
    height: auto;
  }
}

.title {
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0 3rem;
}
