@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-[Playfair-Display];
  }
  li {
    @apply font-[Lato];
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 25, 47, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  ) !important;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
*::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
